name: Go Tests
on:
  push:

permissions:
  contents: read

jobs:
  define-runners:
    runs-on: ubuntu-latest
    outputs:
      runners: '{"linux":"ubuntu-latest", "macos":"macos-latest", "windows":"windows-latest"}'
    steps:
      - run: true # no-op

  test:
    needs: [define-runners]
    strategy:
      matrix:
        go-version:
          - '1.24' # oldest supported; named in go.mod
          - 'oldstable'
          - 'stable'
        os:
          - 'linux'
          - 'macos'
          - 'windows'
    runs-on: ${{ fromJSON(needs.define-runners.outputs.runners)[ matrix.os ] }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: ${{ matrix.go-version }}
      - run: go test ./...
