name: Go Tests
on:
  push:

permissions:
  contents: read

jobs:
  define-runners:
    runs-on: ubuntu-latest
    outputs:
      runners: '{"linux":"ubuntu-latest", "macos":"macos-latest", "windows":"windows-latest"}'
    steps:
      - run: true # no-op

  test:
    needs: [define-runners]
    strategy:
      matrix:
        go-version:
          - '1.24' # oldest supported; named in go.mod
          - 'oldstable'
          - 'stable'
        os:
          - 'linux'
          - 'macos'
          - 'windows'
    runs-on: ${{ fromJSON(needs.define-runners.outputs.runners)[ matrix.os ] }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: ${{ matrix.go-version }}
      - run: go test ./...
